@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --nav-background: #F3F4F6;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: black; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); 
}
/* ######### */

.Main-Container {
    display: flex;
    max-height: 100vh;
}

/* Navigation */
.Navigation-Container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 100vh;
    background-color: var(--nav-background);
    gap: 10px;
    white-space: nowrap;
    transition: max-width 0.3s ease;
}

.Navigation-Container.Hide {
    max-width: 0;
    overflow: hidden;
}

.Navigation-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    max-height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Navigation-Title-Icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Navigation-Title-Icon .lucide-mail-icon {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 3px;
}

.Navigation-Title-Icon h1 {
    font-size: 0.9rem;
    font-weight: 600;
}

.Navigation-Button {
    color: gray;
    width: 16px;
    height: 16px;
}

.Navigation-Button:hover {
    cursor: pointer;   
    color: black;
}

.Navigation-NewProjectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.Navigation-NewProjectButton a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 5px;
}

.Navigation-NewProjectButton a svg {
    width: 13px;
    height: 13px;
}

.Navigation-NewProjectButton a p {
    font-size: 0.8rem; 
    font-weight: 500;
}

.Navigation-SearchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 10px;
}

.Navigation-SearchInput input {
    width: 100%;
    padding: 8px 60px 8px 30px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.Navigation-SearchInput .lucide-search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
    color: rgba(0, 0, 0, 0.5);
    width: 12px;
    height: 12px;
}

.Navigation-SearchInput .lucide-command-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 45px;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Navigation-SearchInput .letter-k-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Navigation-Menu {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px 70px 10px;
    gap: 20px;
}

.Navigation-Menu-Main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Navigation-Menu-Main h2 {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.Navigation-Menu-Main hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Navigation-Menu-Main a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
}

.Navigation-Menu-Main a svg {
    color: black;
    width: 13px;
    height: 13px;
}

.Navigation-Menu-Project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Navigation-Menu-Project h2 {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.Navigation-Menu-Project hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Navigation-Menu-Project a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
}

.Navigation-Menu-Project a svg {
    color: black;
    width: 20px;
    height: 20px;
    padding: 2px;
}

.Navigation-Menu-Project a .lucide-trending-up {
    color: rgba(107, 33, 168, 1);
    background-color: rgba(107, 33, 168, 0.2);
    border: 2px solid white;
    outline: 1px solid rgb(107, 33, 168, 0.1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(107, 33, 168, 0.1);
}

.Navigation-Menu-Project a .lucide-shopping-bag {
    color: rgba(244, 63, 94, 1);
    background-color: rgba(244, 63, 94, 0.2);
    border: 2px solid white;
    outline: 1px solid rgb(244, 63, 94, 0.1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(244, 63, 94, 0.1);
}

.Navigation-Menu-Project a .lucide-credit-card {
    color: rgb(6, 205, 255);
    background-color: rgba(6, 205, 255, 0.2);
    border: 2px solid white;
    outline: 1px solid rgb(6, 205, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(6, 205, 255, 0.1);
}

.Navigation-Menu-Project a .lucide-square-dot {
    color: rgba(5, 150, 105, 1);
    background-color: rgba(5, 150, 105, 0.2);
    border: 2px solid white;
    outline: 1px solid rgb(5, 150, 105, 0.1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(5, 150, 105, 0.1);
}

.Navigation-Active {
    height: 30px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Navigation-Account {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    background-color: var(--nav-background);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding: 0 10px;
}

.Navigation-Account-Info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Navigation-Account-Info-Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.Navigation-Account-Info-Photo svg {
    width: 20px;
    height: 20px;
}

.Navigation-Account-Info-Text {
    display: flex;
    flex-direction: column;
}

.Navigation-Account-Info-Text h2 {
    font-size: 0.8rem;
    font-weight: 500;
}

.Navigation-Account-Info-Text p {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.8);
}

.Navigation-Account-Menu {
    display: flex;
    align-items: center;
}

.Navigation-Account-Menu svg {
    color: rgba(0, 0, 0, 0.5);
    width: 15px;
    height: 15px;
}
/* ########## */

/* Home Content */
.Content-Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100vh;
    gap: 10px;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Content-Title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Content-Title-Left {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0;
}

.Content-Title-Left-Button {
    display: flex;
    align-items: center;
}

.Content-Title-Left-Info {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.Content-Title-Left-Info h2 {
    font-size: 0.8rem;
    font-weight: 500;
    white-space: nowrap;
}

.Content-Title-Left-Info .lucide-chevron-right {
    color: rgba(0, 0, 0, 0.5);
    width: 12px;
    height: 12px;
}

.Content-Title-Right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Content-Title-Right a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
}

.Content-Title-Right a .share-icon {
    width: 20px;
    height: 20px;
}

.Content-Title-Right .ellipsis-icon {
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
    padding-right: 10px;
}

.Content-Detail {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.Content-Detail-Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Content-Detail-Head-Left {
    display: flex;
    flex-direction: column;
}

.Content-Detail-Head-Left h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.Content-Detail-Head-Left-Info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.Content-Detail-Head-Left-Info p {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.Content-Detail-Head-Right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Content-Detail-Head-Right-Display {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
}

.Content-Detail-Head-Right-Display svg {
    width: 25px;
    height: 25px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.Content-Detail-Head-Right-Display-Active {
    background-color: rgba(0, 0, 0, 0.05);
}

.Content-Detail-Head-Right-Filter {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
    gap: 0px;
    font-size: 0.8rem;
    cursor: pointer;
}

.Content-Detail-Head-Right-Filter svg {
    width: 25px;
    height: 25px;
    padding: 7px;
    border-radius: 5px;
}

.Content-Detail-Head-Right-Filter p {
    padding-right: 7px;
}

.Content-Detail-Head-Right-NewClient {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
    gap: 0px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.Content-Detail-Head-Right-NewClient svg {
    width: 25px;
    height: 25px;
    padding: 7px;
    border-radius: 5px;
}

.Content-Detail-Head-Right-NewClient p {
    padding-right: 7px;
    white-space: nowrap;
}

.Content-Detail-Portfolio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Content-Detail-Portfolio hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Content-Detail-Portfolio-Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
}

.Content-Detail-Portfolio-Head div h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.Content-Detail-Portfolio-Head div p {
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.5);
}

.Content-Detail-Portfolio-Head-Left {
    display: flex;
    flex-direction: column;
}

.Content-Detail-Portfolio-Head-Right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Content-Detail-Portfolio-Head-Right p {
    white-space: nowrap;
}

.Content-Detail-Portfolio-Bubble {
    
}

.Content-Detail-Portfolio-Bubble-Item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 2px;
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Bubble-Template {
    padding: 25px;
    border-radius: 10px;
}

.Bubble-1 {
    grid-column: span 4;
    background: #a65af2;
    background: linear-gradient(0deg, rgba(166, 90, 242, 1) 0%, rgba(166, 90, 242, 0.49) 100%);
}

.Bubble-2 {
    grid-column: span 3;
    background: #e67cc6;
    background: linear-gradient(0deg, rgba(230, 124, 198, 1) 0%, rgba(230, 124, 198, 0.49) 100%);
}

.Bubble-3 {
    grid-column: span 2;
    background: #4bd1f2;
    background: linear-gradient(0deg, rgba(75, 209, 242, 1) 0%, rgba(75, 209, 242, 0.49) 100%);
}

.Bubble-4 {
    grid-column: span 2;
    background: #80F28E;
    background: linear-gradient(0deg, rgba(128, 242, 142, 1) 0%, rgba(128, 242, 142, 0.49) 100%);
}

.Bubble-5 {
    grid-column: span 2;
    background: #ed9595;
    background: linear-gradient(0deg, rgba(237, 149, 149, 1) 0%, rgba(237, 149, 149, 0.49) 100%);
}

.Bubble-6 {
    grid-column: span 1;
    background: #e0d33f;
    background: linear-gradient(0deg, rgba(224, 211, 63, 1) 0%, rgba(224, 211, 63, 0.49) 100%);
}

.Content-Detail-Portfolio-Info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.Content-Detail-Portfolio-Info-Layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Content-Detail-Portfolio-Info-Layout-Left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Content-Detail-Portfolio-Info-Layout-Right {
    display: flex;
    align-items: center;
}

.Circle-Template {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.Saas-Circle {
    background-color: rgba(110, 59, 229, 0.5);
}

.Ecommerce-Circle {
    background-color: rgba(244, 63, 94, 0.5);
}

.Healthcare-Circle {
    background-color: rgba(75, 209, 242, 0.5);
}

.Lifestyle-Circle {
    background-color: rgba(53, 215, 53, 0.5);
}

.Outdoor-Circle {
    background-color: rgba(237, 149, 149, 0.5);
}

.Pipeline-Circle {
    background-color: rgba(255, 165, 0, 0.5);
}

.Content-Detail-Portfolio-Info-Layout-Left p {
    font-size: 0.8rem;
    font-weight: 600;
}

.Content-Detail-Portfolio-Info-Layout-Right p {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}

.Content-Detail-Category {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Content-Detail-Category-Layout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.Content-Detail-Category-Layout-Left {
    display: flex;
    align-items: center;
}

.Content-Detail-Category-Layout-Left p {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.Content-Detail-Category-Layout-Right {
    display: flex;
    align-items: center;
}

.Content-Detail-Category-Layout-Right p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    font-size: 0.6rem;
    background-color: var(--nav-background);
    border-radius: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.Content-Detail-Category-Active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .Content-Detail-Category-Layout-Left p {
        color: black;
    }

    .Content-Detail-Category-Layout-Right p {
        background-color: black;
        color: white;
    }
}

.Content-Detail-Item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.Content-Detail-Item-Card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Content-Detail-Item-Card-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.Content-Detail-Item-Card-Header-Title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Content-Detail-Item-Card-Header-Title .Acme-Cloud {
    width: 20px;
    height: 20px;
    padding: 4px;
    color: rgba(110, 59, 229, 1);
    background-color: rgba(110, 59, 229, 0.3);
    border: 2px solid white;
    border-radius: 5px;
    outline: 2px solid rgba(110, 59, 229, 0.1);
    box-shadow: 0px 2px 4px rgba(110, 59, 229, 0.3);
}

.Content-Detail-Item-Card-Header-Title h3 {
    font-size: 0.8rem;
    font-weight: 500;
}

.Content-Detail-Item-Card-Header .Content-Detail-Item-Card-Header-Status {
    font-size: 0.7rem;
    font-weight: 100;
}

.Content-Detail-Item-Card-Main {
    display: flex;
    flex-direction: column;
}

.Content-Detail-Item-Card-Main-Detail {
    display: flex;
    padding: 5px 10px 0 15px;
}

.Content-Detail-Item-Card-Main-Detail .Custom-Border {
    width: 8px;
    height: 15px;
    background: #0075a3;
    background: linear-gradient(0deg,rgba(0, 117, 163, 1) 0%, rgba(87, 87, 199, 1) 15%, rgba(222, 83, 237, 0.6) 100%);
    border-radius: 16px;
    margin-top: 2px;
}

.Content-Detail-Item-Card-Main-Detail p {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 5px;
    font-style: italic;
}

.Content-Detail-Item-Card-Main-Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.Content-Detail-Item-Card-Main-Info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.Content-Detail-Item-Card-Main-Info div h3 {
    font-size: 0.9rem;
    font-weight: 600;
}

.Content-Detail-Item-Card-Main-Info div p {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
}

.Content-Detail-Item-Card-Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
}

.Content-Detail-Item-Card-Footer p {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.7rem;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
}

.Content-Detail-Item-Card-Footer p .Clock-Icon {
    width: 12px;
    height: 12px;
}

.Content-Detail-Item-Card-Footer a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Content-Detail-Item-Card-Footer a .Right-Arrow {
    width: 12px;
    height: 12px;
}
/* ############ */

/* CSS Logic */
.Navigation-Container:not(.Hide) + .Content-Container .Navigation-Button {
    display: none;
}
/* ######### */


/* Media Query */
@media screen and (max-width: 473px) {
    .Navigation-Container {
        max-width: 100%;
    }
}
/* ########### */